inquirer
gitpython
argcomplete
pyyaml
pexpect
requests
python-on-whales
jetson-stats
packaging
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability